body{
	font-family: 'Lato', sans-serif;
	background: #DDD7D4; /*#EBF5DB;*/
	margin: auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#page {
	margin: 0 auto -2em;
	padding: 0px;
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: white;
	/* background: #99CCFF; */
	-webkit-box-shadow: 0px 0px 5px 6px #888;
	-moz-box-shadow: 0px 0px 5px 6px #888;
	box-shadow: 0px 0px 5px 6px #888;
}

#header{
	/*height: 100px;*/
	padding-top: 10px;
/*	background: #140D6B; /* #E3E9F7;*/
	position: relative;
	border-bottom: 1px solid #958FD6;
	color: darkgrey;
	padding: 5px 30px;
	height:100px;
/*	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px; */
}
#header>div, #header>img{
	float: left;
}
#header_right{
	height: 100px;
	margin-left: 20px;
}
#header_title{
	font-size: 50px;
	height: 60px;
}
#header_descrption{
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	vertical-align: bottom;
}
#content_main{
	min-height: 250px;
	height: auto !important;
	height: 250px;
	padding: 5px 30px;
	width: 900px;
	font-size: 16px;
}

#footer{
	height: 18px;
	bottom: 0px;
	background: #140D6B; /* #E3E9F7;*/
	font-size: 14px;
	padding: 5px 20px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#search_box{
	background: white;
	height: 25px;
	width: 700px;
	font-size: 18px;
	padding-left: 5px;
}
#search_btn{
	height: 30px;
	width: 80px;
	cursor: pointer;
}
#content_main>form>div{
	margin-top:5px;
	margin-bottom:10px;
}
#total_results{
	width: 40px;
	text-align: right;
}
#tip_icon{
	display:inline-block;
	vertical-align:middle;
	cursor: pointer;
	width:25px;
	height:25px;
}
#tip_icon>img{
	width:25px;
	height:25px;
}
#tip_content{
	display: inline-block;
	background: yellow;
}

#results{
	margin-top: 14px;
	width: 100%;
  font-size: 12px;
	/* display: none; */
}
.result_wrapper{
	padding: 10px 0px;
	/*margin-top:10px;*/
  clear: both;
}
.result_main{
	height: 30px;
	line-height: 30px;
	display: none;
}
.result_main>div{
	float: left;
}
.result_expander{
	display: none;
}
.group,.entropy,.frequency,.like,.comment,.share, .ctime{
	text-align: center;
	height: 30px;
}
.link{
	padding-left: 0.7%;
	padding-right: 0.7%;
	text-align: center;
	height: 30px;
}

.ctime{ font-size: 14px; color: gray; margin-left: 10px;}
.group{ font-size:18px; }
.counts { font-size: 14px;}
.like,.share,.comment,.entropy{
	margin-left:5px;
}
.expand_icon{
	width: 9px;
	height: 9px;
	margin: 4px;
	background-image: url(../image/icons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.fold_icon{
	width: 9px;
	height: 9px;
	margin: 4px;
	background-image: url(../image/icons.png);
	background-repeat: no-repeat;
	background-position: -9px 0px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.result_row1{
	margin:0px;
}
.result_row2{
	padding-left:9px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size:14px;
}
.result_content{
	padding-top:7px;
	padding-left:20px;
	font-size: 14px;
	display: none;
}
.result_content img{
  vertical-align: top;
  float: left;
  margin-right: 20px;
}
.comments[status=error] {
  color: red;
}
.comments[status=loading] {
  color: darkgrey;
}
.comments {
  padding-left: 40px;
  padding-top: 10px;
}
.comment_group {
  /*padding: 20px;*/
  width: 45%;
  /*margin-left: 10px;*/
  float: left;
  padding: 10px;
  border-radius: 5px;
}

.comment_group_1 {
  /*border: 1px solid red;*/
}

.comment_group_0 {
  clear: left;
  /*border: 1px solid blue;*/
}

.comment_item {
  border-radius: 2px;
  padding: 1px;
  margin-bottom: 2px;
  border: 1px solid darkgrey;
  word-wrap: break-word;
}

.comment_group_item_0 {
  /*border: 1px solid blue;*/
}

.comment_group_item_1 {
  /*border: 1px solid red;*/
}

.waiting {
  float: left;
  width: 250px;
  height: 50px;
  background: url('../image/ajax-loader.gif') no-repeat right center;
}

.name_link> a {
  font-weight: bold;
  font-size: 13px;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  clear: both;
  /* make it blurry */
  text-shadow: 0 0 5px #3B5998;
  color: rgba(255, 255, 255, 0) !important;
  cursor: pointer;
  text-decoration: none;
  /* make it prinable in chrome */
  -webkit-print-color-adjust:exact;
  -webkit-filter:opacity(1);
  /*font: \'lucida grande\',tahoma,verdana,arial,sans-serif;*/
}

img.blur {
filter: blur(3px); -webkit-filter: blur(3px); -moz-filter: blur(3px);
-o-filter: blur(3px); -ms-filter: blur(3px);
filter: url(blur.svg#blur);
}

.user_comment {
  margin: 2px;
  border: solid 1px #A9A9A9;
  border-radius: 2px;
  /* height: 100px; */
  /* overflow: auto; */
  background-color: #B0C4DE;
}
.type_head {
  font-size: 20px;
  display:block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

}
.name_link {
padding-left: 112px;
padding-bottom: 10px;
}
a, a:visited, a:hover {
  color:#3B5998;
  text-decoration: none;
}
a:hover { text-decoration: underline !important;}

.comment_group > div.date {
    background: blue;
    display: inline;
}
div.date {
    font-size: 0.75em;
}
.comment_item>div>img {
    width: 20px;
}
.comment_item > img {
    width: 30px;
    height: 30px;
    float: left; margin-left: -35px;
}
.comment_group>.comment_item {
padding-left: 35px;
}
.comment_group > .comment_item > .name_link {
padding: 0px !important;
}
